{% extends "partials/layout.html" %}

{% block title %} inicio evaluacion {% endblock %}

{% block content%}

<h1> inicio evaluacion </h1>

<div class="container bg-light" >
    <h2> Lorem ipsum, dolor sit amet consectetur adipisicing elit. Quae cumque omnis velit consectetur rerum excepturi animi quos sit adipisci enim similique odit neque illo ad, magnam repudiandae quidem. Corporis, necessitatibus? </h2>

    <a class="btn btn-outline-success text-center" href="{% url 'casos' %}" role="button" > Iniciar Evaluacion </a>

{% endblock %}